/* ini css */

nav {
    display: flex;
    justify-content: space-between;
}
.logo-icon {
    height: 50px;
    width: 50px;
    border: 1px solid yellow;
}

.nav-item {
    border: 1px solid yellow;
}