/* ini css */

nav {
    display: flex;
    justify-content: space-between;
}

nav>section{
    display: flex;
}

.logo-icon {
    height: 70px;
    width: 70px;
    border-radius: 50%;
    background-image: url(https://www.bing.com/images/blob?bcid=r0WSOfBnuxcHoyOPntPizgBghLzV.....8Q);
    background-size: contain;
    background-origin: border-box;
}

.nav-item {
    border: 1px solid black;
}

.banner-container {
    height: 250px;
    border: 1px solid black;

}

.fasility-list {
    display: flex;
    justify-content: space-evenly;
    
}

.form-result{
    height: 50px;
    border: 1px solid black;
}

.massage-us{
    display: flex;
}
.result-container {
    width: 100%;
    height: 50%;
}