/* ini css */

nav {
    display: flex;
    justify-content: space-between;
}

nav>section{
    display: flex;
}

.logo-icon {
    height: 50px;
    width: 50px;
    border: 1px solid yellow;
}

.nav-item {
    border: 1px solid black;
}

.banner-container {
    height: 250px;
    border: 1px solid black;

}

.fasility-list {
    display: flex;
    justify-content: space-evenly;
}

